@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display:wght@500&family=Source+Sans+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}


a {
    text-decoration: none;
}

body {
    font-family: source sans pro, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    width: 100%;
}

header {
    max-width: 100%;
    overflow-x: hidden;

}

h1,
h2,
h3 {
    font-family: playfair display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.body-container {
    width: 100%;
    overflow-x: hidden;

}



.header-container {
    background-color: #3E4144;
    max-height: 150px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;

}



/* logo */

.logo {
    font-family: permanent marker, playfair display, sans-serif;
    text-align: center;
    font-size: 300%;
    margin-top: 10px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
    max-width: 100%;

}




/* navigation bar */

.nav-bar {
    display: flex;
    justify-content: center;
    font-size: 150%;
    letter-spacing: 3px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    max-width: 100%;

}

.nav-bar li {
    font-weight: bolder;
    text-align: center;
    list-style-type: none;
    letter-spacing: 3px;
    margin: 10px;
    text-decoration: none;


}


.nav-bar a {
    background-color: #dddddd;
    padding: 5px;
    border-radius: 25px;
    border: black solid 3px;

}



a:visited {
    color: inherit;
    text-decoration: none;

}

a:hover {
    background-color: black;
    color: white;
}

.active {
    text-decoration: underline solid black 2px; 
}




/* hero image for a large background of first page */

#hero-image {
    height: 1200px;
    width: 100%;
    background: url('../images/hero-image-stadium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

/* slogan for find me football. should be positioned under the flood light in the background. */


#slogan {
    display: flex;
    color: white;
    font-size: 150%;
    top: 150px;
    text-shadow: 2px 2px 5px white;
    width: 100%;
    padding: 10px;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.212);
    text-align: center;

}

/* text describing the different pages of the website with clickable hyperlinks to them */

#brief-page-descriptions {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.233);
    color: black;
    text-shadow: 2px 2px 5px white;
    position: absolute;
    top: 380px;
    left: 33%;
    justify-content: center;
    margin: 10px;
    padding-right: 20px;
    align-items: center;
    width: 600px;
    height: 200px;
    font-size: 150%;
    border-radius: 25%;

}

.brief-headings {
    display: flex;
}


button[type=button] {
    padding: 5px;
    margin: 5px;
    background-color: #BFBFBF;
    border: black solid 3px;
}

button[type=button]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.read-me-buttons a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 
#brief-page-descriptions a {
    all: unset;
} 





/* website description of what it is and what you can do */

#description-heading-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



#website-description {

    border: #303030 solid 4px;
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    padding: 30px;
    margin: 20px 200px 20px 200px;
    justify-content: center;


}

#website-description h2 {
    text-align: center;
    font-size: 400%;
    margin: 100px 40px;

}

#website-description span {
    font-family: permanent marker, playfair display, sans-serif;
}

/*images inside the website description*/



#what-is-fmf-image-top-left img {
    float: left;


    width: 200px;
    height: 250px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;

    -ms-transform: rotate(-8deg);
    /* IE 9 */
    -webkit-transform: rotate(-8deg);
    /* Safari */
    transform: rotate(-8deg);
}

#what-is-fmf-image-top-right img {
    float: right;
    width: 200px;
    height: 250px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    -ms-transform: rotate(7deg);
    /* IE 9 */
    -webkit-transform: rotate(7deg);
    /* Safari */
    transform: rotate(7deg);
}

#description-container {
    font-size: 150%;
    padding: 20px;
    text-align: center;
}

/* review section */

#review-container {
    background-color: black;
    width: 100%;
    
}

#review-container h2 {
    color: white;
    font-size: 400%;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#flexbox-reviews {
    display: flex;
    justify-content: space-between;
    contain: content;
}

.reviews {
    color: white;
    margin: 50px;
    padding: 25px;
    border: white solid 4px;
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    width: 500px;
}

.reviews span {
    font-style: italic;
}

/* footer and social media links*/

footer {
    height: 150px;
    width: 100%;
    background-color: #3E4144;
    z-index: 500;
}

footer p {
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.social-media-links {
    text-align: center;
    margin: 20px 0;
}

.social-media-links > li {
    display: inline;
    margin: 5px 50px;
}

.social-media-links i {
    font-size: 300%;
    color: white;
    
}

.social-media-links i:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    
}



/* Find Game page */

/* top section containing image on left and text on right */

.img-and-text-container {
    display: flex;
    margin: 150px 0 0 0;
    width: 100%;
    background-color: black;

}

.flex-img-left {
max-width: 735px;

}

.find-images {
    contain: size;
    width: 735px;
    height: 1010px;
}

.flex-text-right {
    
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 125%;

}


.flex-text-right p {
    padding-top: 50px;
}
    

.game-info-flex {
    border: white solid 2px;
    padding: 5px;
}
#game-info-container {
    padding-top: 50px;
    display: flex;

}

.game-info-flex h2 {

    text-shadow: 2px 2px 5px white;
}

.game-info-flex p {
    padding-top: 25px;
}

/* heading for the schdule */

.flex-text-right h3 {
    padding-top: 50px;
}


/* game schedule in the form of a table */

table {
    width: 100%;
    margin-top: 50px;
}
th {
    background-color: #3E4144;
}
table, th, td {
    border: white solid 4px;
    
}

th, td {
    padding: 10px 0;
}

/* link to sign up below schedule */

.flex-text-right h4 {
    margin-top: 50px;
}

/* find-team page */

#list-of-teams-container {
    display: flex;
    justify-content: space-between;
    
}

.flex-teams-list {
    list-style-type: circle;
    padding: 10px;
    margin: 10px;
}

.flex-teams-list li {
    list-style-type: circle;
}

/* sign-up page */

#sign-up-container {
    
    background: url("../images/grass-background.jpg");
    display:flex;
  justify-content: center;

  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }

    /* make the footer on the sign up page a fixed position footer as the page wont need to be scrolled */

    #sign-up-footer {
        position:fixed;
     bottom:0;
     left:0;
     width: 100%;
    }

#form-container {
    display: flex;
    justify-content: center;
    background-color: #303030;
    margin: 200px 100px 200px;
  height: auto;
  width: 750px;
  border: #3E4144 solid 6px;
  border-radius: 25%;
    
}



.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 10px;
    align-items: center;
    font-size: 110%;
    text-align: center;
    
}

.form-flex {
    justify-content: flex-end;
    margin: 5px;
    padding: 5px;
    font-size: 120%;
    
}

input[type=text], input[type=email] {
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 100%;
    background-color: #BFBFBF;
    border: black solid 3px;
  }

  input[type=text]:focus, input[type=email]:focus {
    background-color: white;
  }

  input[type=submit], input[type=reset] {
      padding: 5px;
      margin: 5px;
      background-color: #BFBFBF;
      font-size: 110%;
      border: black solid 3px;
  }

  input[type=text]:hover, input[type=email]:hover, input[type=submit]:hover, input[type=reset]:hover {
      background-color: white;
  }



/* For screen sizes 1250px wide and down */

@media screen and (max-width: 1250px) {

    
    
    #flexbox-reviews {
        flex-direction: column;
        align-items: center;
    }
    

    footer {
        max-height: 150px;
        margin: 0 25px;
    }

}





@media screen and (max-width: 950px) {

.social-media-links > li {
    margin: 10px 25px;
}
footer p {
    padding-top: 10px;
    font-size: 100%;
}
}